
.footer {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 10%;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 544px) {
  
}