.gallery {
  /* min-height: calc(100vh - 72px); */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 10vw);
  gap: 16px;
  margin: 118px 0;
}

.gallery__image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
