
.header {
  max-width: 984px;
  margin-top: 34px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.header__logo {
  top: 34px;
  left: 513px;
  opacity: 1;
}

.header__content {
  display: flex;
  opacity: 1;
  margin-bottom: 10px;
  align-items: center;
  flex-direction: column;
}

.header__title {
  max-width: 700px;
  font-weight: 900;
  font-style: Black;
  font-size: 96px;
  line-height: 100px;
  letter-spacing: 0;
  text-align: center;
  margin: 0px;
  margin-top: 90px;
}

.header__description {
  max-width: 720px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0;
  text-align: center;
}

.header__image {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    max-width: 254px;
    max-height: 66px;
  }

  .header__title {
    font-size: 75px;
  }

  .header__description {
    max-width: 720px;
    top: 369px;
    left: 24px;
    opacity: 1;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
  }
}

@media screen and (max-width: 544px) {
  .header__title {
    max-width: 228px;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 50px;
  }

  .header__content {
  }

  .header__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
  padding: 0;
  }
}