
.intro {
  max-width: 984px;
  margin-left: auto;
  margin-right: auto;
}

.intro__title {
  max-width: 830px;
  font-family: Inter;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0;
}

.intro__citation {
  max-width: 738px;
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0;
}

.intro__citation-author {
  max-width: 732px;
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0;
  text-align: right;
}

.intro__content {
  max-width: 722px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0;
}