
.intro {
  max-width: 984px;
  margin-left: auto;
  margin-right: auto;
}

.intro__title {
  max-width: 830px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0;
}

.intro__citation {
  max-width: 738px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0;
}

.intro__citation-author {
  max-width: 732px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0;
  text-align: right;
}

.intro__content {
  max-width: 722px;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0;
}

@media screen and (max-width: 1024px) {
.intro__title {
    max-width: 699px;
    font-size: 45px;
    line-height: 49px;
  }

  .intro {
    max-width: 720px;
    padding: 0 24px;
  }

  .intro__citation {
    font-size: 24px;
    line-height: 34px;
    padding-right: 50px;
    margin: 0px;
  }

  .intro__citation-author {
    margin: 0px 0px 50px 0px;
  }

  .intro__content {
    max-width: 711px;
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 544px) {
.intro {
    padding: 0px 16px 64px 16px;
  }
  .intro__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0%;
  }

  .intro__citation-author {
    width: 288px;
    height: 34px;
    margin: 10px 0 32px 0px;
  }

  .intro__citation {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0%;
    padding-right: 0;
  }

  .intro__content {
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    margin-bottom: 0;
  }
}