
@media screen and (max-width: 1024px) {
  .header__logo {
    max-width: 254px;
    max-height: 66px;
  }

  .header__title {
    font-size: 75px;
  }

  .header__description {
    max-width: 720px;
    top: 369px;
    left: 24px;
    opacity: 1;
    font-family: Inter;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
  }

  .intro__title {
    max-width: 699px;
    font-size: 45px;
    line-height: 49px;
  }

  .intro {
    max-width: 720px;
  }

  .intro__citation {
    font-size: 24px;
    line-height: 34px;
    padding-right: 50px;
    margin: 0px;
  }

  .intro__citation-author {
    margin: 0px 0px 50px 0px;
  }

  .intro__content {
    max-width: 711px;
  }
}

@media screen and (max-width: 544px) {
  .header__title {
    max-width: 228px;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0;
    text-align: center;
  }

  .header__content {
  }

  .header__description {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;

    padding: 0;
  }

  .intro {
    padding: 0px 16px 64px 16px;
  }
  .intro__title {
    font-family: Inter;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0%;
  }

  .intro__citation-author {
    width: 288px;
    height: 34px;
    margin: 10px 0 32px 0px;
  }

  .intro__citation {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0%;
    padding-right: 0;
  }

  .intro__content {

    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }

  .footer {
    max-width: 830px;
  }
}