
@media screen and (max-width: 1024px) {
  .header__logo {
    max-width: 254px;
    max-height: 66px;
  }

  .header__title {
    font-size: 75px;
  }

  .header__description {
    max-width: 720px;
    top: 369px;
    left: 24px;
    opacity: 1;
    font-family: Inter;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
  }

  .intro__title {
    max-width: 699px;
    font-size: 45px;
    line-height: 49px;
  }

  .intro {
    max-width: 720px;
  }

  .intro__citation {
    font-size: 24px;
    line-height: 34px;
    padding-right: 50px;
    margin: 0px;
  }

  .intro__citation-author {
    margin: 0px 0px 50px 0px;
  }

  .intro__content {
    max-width: 711px;
    margin-bottom: 64px;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 213px);
    max-width: 1024px; 
    margin: 24px;

  }

  .gallery__image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

  .place {
  margin: 0 24px;
  }

  .place__item {
    grid-template-columns: 340px 1fr;
    grid-template-rows: auto 340px auto;
    gap: 28px;
  }

  .place__name {
        font-size: 42px;
    line-height: 46px;
  }

  .place__artist {
  line-height: 22px;
  }

  .place__artist-name {
    margin: 0;
  }

  .place__description {
font-weight: 400;
font-size: 16px;
line-height: 163%;
letter-spacing: 0%;

  }
}

@media screen and (max-width: 544px) {
  .header__title {
    max-width: 228px;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 50px;
  }

  .header__content {
  }

  .header__description {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;

    padding: 0;
  }

  .intro {
    padding: 0px 16px 64px 16px;
  }
  .intro__title {
    /* font-family: Inter; */
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0%;
  }

  .intro__citation-author {
    width: 288px;
    height: 34px;
    margin: 10px 0 32px 0px;
  }

  .intro__citation {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0%;
    padding-right: 0;
  }

  .intro__content {

    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }

.gallery {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(8, 216px)
}
  .place {
    padding: 0 16px;
}

.place__name {
    font-size: 32px;
    line-height: 35px;
}

.place__item {
  grid-template-columns: repeat(340px);
    gap: 16px;
}

.place__image {

}

.place__buy-button {
    max-width: none;
    width: 100%;
}



  .footer {
    max-width: 830px;
  }
}