@media screen and (max-width: 544px) {
  .header__title {
    max-width: 228px;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 50px;
  }

  .header__content {
  }

  .header__description {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
  padding: 0;
  }

  .intro {
    padding: 0px 16px 64px 16px;
  }
  .intro__title {
    /* font-family: Inter; */
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0%;
  }

  .intro__citation-author {
    width: 288px;
    height: 34px;
    margin: 10px 0 32px 0px;
  }

  .intro__citation {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0%;
    padding-right: 0;
  }

  .intro__content {

    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }

.gallery {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(8, 216px)
}
  .place {
    display: flex;
    margin: 0;
    gap: 50px;
    flex-direction: column;

}

.place__item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 320px auto auto;
  gap: 16px;
      grid-template-areas: 
    "title"  
    "artist"
    "imagem" 
    "description"
    "button";
    margin: 0 0 0 0;
    
}

.place__name {
    font-size: 32px;
    line-height: 35px;
    padding: 0 16px;
}

.place__artist {
    margin: 0 16px;
}

.place__artist-title {
    font-size: 12px;
    line-height: 100%;
}
.place__artist-name {
    font-size: 18px;
    line-height: 22px;
}

.place__artist+.place__name {
    margin-top: 30px;
}

.place__image {
      width: 100%;
  object-fit: cover;

}

.place__description {
    padding: 0 16px;
}
.place__buy-button {
    max-width: 280px;
    width: 100%;
    padding: 0 16px;
    font-size: 14px;
    margin: 0 auto;

}



  .footer {
    max-width: 830px;
    padding: 0 16px;
  }
}