* {
  background-color: #2a2c2f;
}

body {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.page {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.text-white {
  color: #ffffff;
}
