.place {
}

.place__item-criccieth {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: auto 460px auto;
    grid-template-areas: 
    "criccieth artist"
    "criccimage description"
    "button .";
    gap: 40px;
}

.place__name {
    grid-area: criccieth;
}

.place__image {
    grid-area: criccimage;
}

.place_artist {
    grid-area: artist;
    font-size: 12PX;
    line-height: 100%;
}

.place__paragraph-criccieth {
    grid-area: description;
    font-size: 18px;
    line-height: 163%;
}

.place__buy-button {
    grid-area: button;
}