.place {
    margin-left: 148px;
    
}

.place__item {
    display: grid;
    max-width: 984px;
    grid-area: title;
    grid-template-columns: 460px 1fr;
    grid-template-rows: auto 460px auto;
    grid-template-areas: 
    "title artist"
    "imagem description"
    "button description";
    gap: 40px;
    margin-bottom: 80px;
    align-self: flex-end;
}

.place__name {
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    padding-right: 20px;
    margin-bottom: 0;
    align-self: flex-end;
}

.place__image {
    grid-area: imagem;
    width: 100%;
    height: 100%;
    align-self: flex-end;
    box-shadow: 5px 5px 10px 0px #00000040;
    margin-top: 48px;
}

.place__image:hover {

    opacity: 50%;
}


.place__artist {
    grid-area: artist;
    line-height: 100%;
    align-self: flex-end;
}

.place__artist-title {
    font-size: 12px;
    letter-spacing: 12%;
    color: #AAAAAA;
    text-transform: uppercase;
}

.place__artist-name {
    font-size: 18px;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.place__artist-name+.place__artist-name {
    margin-top: 0;
}

.place__description {   
    font-size: 18px;
    line-height: 163%;
    margin-bottom: 10px;
    grid-area: description;
    margin: 0;
}

.place__paragraph {
    
    grid-area: description;
    align-self:self-start;
    margin: 0;
}

.place__paragraph+.place__paragraph {
    margin-top: 25px;
}


.place__buy-button {
    
    text-decoration: none;
    grid-area: button;
    background-image: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 356px;
    height: 48px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    padding: 13px 20px;
    border-radius: 4px;
    box-shadow: 5px 5px 10px 0px #00000040;
}

.place__buy-button:hover {
    background: linear-gradient(90deg, rgba(2, 120, 254, 0.25) 0%, rgba(0, 58, 123, 0.25) 99.98%);

}

@media screen and (max-width: 1024px) {
    .place {
    margin: 0 24px;
}

    .place__item {
    grid-template-columns: 340px 1fr;
    grid-template-rows: auto 340px auto;
    gap: 28px;
}


    .place__name {
    font-size: 42px;
    line-height: 46px;
}

.place__artist {
    line-height: 22px;
}

.place__artist-name {
    margin: 0;
}

.place__description {
font-weight: 400;
font-size: 16px;
line-height: 163%;
letter-spacing: 0%;
}  

.place__buy-button {
    width: auto;
    font-size: 16px;
}
}

@media screen and (max-width: 544px) {
.place {
    display: flex;
    margin: 0;
    gap: 50px;
    flex-direction: column;
}

.place__item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 320px auto auto;
    gap: 16px;
    grid-template-areas: 
    "title"  
    "artist"
    "imagem" 
    "description"
    "button";
    margin: 0 0 0 0;
    
}

.place__name {
    font-size: 32px;
    line-height: 35px;
    padding: 0 16px;
}

.place__artist {
    margin: 0 16px;
}

.place__artist-title {
    font-size: 12px;
    line-height: 100%;
}
.place__artist-name {
    font-size: 18px;
    line-height: 22px;
}

.place__artist+.place__name {
    margin-top: 30px;
}

.place__image {
    width: 100%;
    object-fit: cover;
}

.place__description {
    padding: 0 16px;
}
.place__buy-button {
    padding: 0 16px;
    font-size: 14px;
    margin: 0 auto;
}
}