.place {
    margin-left: 148px;
    
}

.place__item-criccieth {
    display: grid;
    width: 984px;
    height: 832px;
    grid-area: criccieth;
    grid-template-columns: 460px 1fr;
    grid-template-rows: auto 460px auto;
    grid-template-areas: 
    "criccieth artist"
    "imagem description"
    "button .";
    gap: 40px;
    margin-bottom: 80px;
    align-self: flex-end;
}

.place__name {
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    font-family: "Inter";
    padding-right: 20px;
    margin-bottom: 0;
    align-self: flex-end;
}

.place__image {
    grid-area: imagem;
    width: 460px;
    height: 460px;
    align-self: flex-end;
    box-shadow: 5px 5px 10px 0px #00000040;
    margin-top: 48px;
}

.place__artist {
    grid-area: artist;
    line-height: 100%;
    align-self: flex-end;
}

.place__artist-title {
    font-size: 12px;
    letter-spacing: 12%;
    color: #AAAAAA;
    text-transform: uppercase;
}

.place__artist-name {
    font-size: 18px;
    line-height: 22px;
}

.place__description {
    font-size: 18px;
    line-height: 163%;
    margin-bottom: 10px;
}

.place__paragraph-criccieth {
    grid-area: description;
    align-self:self-start;
}

.place__buy-button {
    
    grid-area: button;
    background-image: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 356px;
    height: 48px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    padding: 13px 20px;
    border-radius: 4px;
    box-shadow: 5px 5px 10px 0px #00000040;
}

.place__item-berea {
    display: grid;
    width: 984px;
    height: 832px;
    grid-area: berea;
    grid-template-columns: 460px 1fr;
    grid-template-rows: auto 460px auto;
    grid-template-areas: 
    "berea artist"
    "imagem description"
    "button .";
    gap: 40px;
    margin-bottom: 80px;
}

.place__item-muramvya {
    display: grid;
    width: 984px;
    height: 832px;
    grid-area: muramvya;
    grid-template-columns: 460px 1fr;
    grid-template-rows: auto 460px auto;
    grid-template-areas: 
    "muramvya artist"
    "imagem description"
    "button .";
    gap: 40px;
    margin-bottom: 80px;
}

.place__item-brasilia {
    display: grid;
    width: 984px;
    height: 832px;
    grid-area: brasilia;
    grid-template-columns: 460px 1fr;
    grid-template-rows: auto 460px auto;
    grid-template-areas: 
    "brasilia artist"
    "imagem description"
    "button .";
    gap: 40px;
    margin-bottom: 80px;   
}

article {
    margin: 80px 0;
}